body {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.libraryContainer {
    display: flex;
    width: 100%;
}

.bookGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.bookCard {
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 250px;
    width: 200px;
    border: solid 3px black;
    position: relative;
    background-color: rgb(113, 190, 103)
}

.addBookBtn {
    width: 80px;
    height: 20px;
}

.removeBtn {
    width: 70px;
    height: 20px;
    position: absolute;
    top: 230px;
    right: 0;
}

.bookRead {
    position: absolute;
    top: 228px;
    right: 145px;
}

.readToggle {
    position: absolute;
    top: 231px;
    right: 127px;
}

.popUpContainer {
    font-size: 30px;
    height: 400px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.formContainer {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.addBookForm {
    background-color: white;
    font-size: 25px;
    height: 350px;
    border: solid 2px black;
    margin: 20% auto;
    width: 75%;
    flex-wrap: wrap;
    justify-items: flex-start;
    align-items: center;
}

.cancel {
    float: right;
    font-size: 25px;
}

