body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 40px;
    margin: 20px 0 10px 0;
    text-align: center;
}

h2, .addBookBtn {
    margin: 0 20px;
}
.libraryContainer {
    display: flex;
    width: 100%;
    margin: 20px;
}

.bookGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.bookCard {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 250px;
    width: 200px;
    border: solid 1px black;
    border-radius: 3px;
    position: relative;
    background: rgb(113, 190, 103);
}

.bookInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    font-size: 18px;
    height: 60%;
    width: 125px;
    padding: 10px;
    background: rgb(245, 241, 241);
    margin-top: 20px;
}

.bookTitle {
    font-size: 22px;
    text-decoration: underline;
    margin-right: 0 5px;
}

.bookAuthor {
    margin: 0 5px;
}

.bookLook {
    height: 100%;
    width: 10px;
    background: linear-gradient(to right, rgb(55, 105, 48), rgb(113, 190, 103) 50%,rgb(113, 190, 103) 75%, rgb(65, 126, 57) 80%);
}

.addBookBtn {
    width: 75px;
    height: 25px;
    padding: 3px 0;
}

.removeBtn {
    width: 60px;
    height: 20px;
    position: absolute;
    top: 220px;
    right: 12px;
    color: #000000;
    color: #000000;
    color: #000000;
    padding: 0 3px;
}

.bookRead {
    position: absolute;
    top: 220px;
    right: 130px;
}

.readToggle {
    position: absolute;
    top: 218px;
    right: 109px;
    height: 20px;
    width: 15px;
}

.popUpContainer {
    font-size: 30px;
    height: 400px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.formContainer {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formTitle {
    position: relative;
    padding: 0 35px;
    margin: 0 0 15px 0;
}

.addBookForm {
    background-color: white;
    font-size: 25px;
    border: solid 2px black;
    margin: 15% auto;
    width: 350px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    align-items: center;
    gap: 15px;
    padding: 30px;
}

.q4 {
    width: 100%;
    height: 45px;
}

.formLabel, .q4 {
    font-size: 20px;
    padding: 2px;
}

::placeholder{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: grey;
}

.title, .author, .pages {
    width: 350px;
    height: 25px;
    padding: 5px;
    margin: 0;
    border: solid 1px black;
}

.cancel {
    float: right;
    font-size: 25px;
}

.resetBtn, .submitBtn, .closeForm {
    font-size: 16px;
    padding: 4px;
    height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    font-family: inherit;
}